
/* the colors are material design TEAL 50 */

:root {
    --blue: #1A7DAB;
    --initialfontcolor: black;
    --initialfontbg: #EFEFEF;
    --initialfontshadow: #1A7DAB;
    --color1: #006064;
    --color2: #00838F;
    --color3: #0097A7;
    --color4: #00ACC1;
    --color5: #00BCD4;
    --color6: #26C6DA;
    --color7: #4DD0E1;
    --color8: #80DEEA;
    --color9: #B2EBF2;
    --color10: #E0F7FA;

}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: 'jetbrains mono';
    font-style:normal;
    font-weight: 400;
    src: local('jetbrains mono'), url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'elsie';
    font-style: normal;
    font-weight: 400;
    src: local('elsie'), url('/fonts/Elsie-Regular.ttf');
}
@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: local('playfair'), url('/nfonts/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'playfair';
    font-style: italic;
    font-weight: 400;
    src: local('playfair'), url('/nfonts/PlayfaitDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    src: local('lora'), url('/nfonts/Lora-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'lora';
    font-style: italic;
    font-weight: 400;
    src: local('lora'), url('/nfonts/Lora-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'monteserrat';
    font-style: normal;
    font-weight: 400;
    src: local('monteserrat'), url('/nfonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'et-bembo';
    font-style: normal;
    font-weight: 400;
    src: local('et-bembo'), url('/fonts/et-book-semi-bold-old-style-figures.ttf');
}

@font-face {
    font-family: 'old';
    font-style: normal;
    font-weight: 400;
    src: local('old'), url('/fonts/CloisterBlack.ttf');
}
*{
    font-family: 'Times New Roman', Times, serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
/* *::-webkit-scrollbar {
   color: black;
  } */
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    margin: 0;
    padding: 0;
    position: relative;
}
/* 1st Works on Firefox */ /* 2nd Works on Chrome, Edge, and Safari */
* {
    scrollbar-width: thin;
    scrollbar-color: #0000007c rgba(194, 194, 194, 0);
  }
  
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(194, 194, 194);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #00000080;
    border-radius: 20px;
    border: 3px solid rgb(194, 194, 194);
  }
#site-footer{
    height: 20px;
    background-color: rgb(201, 201, 201);
    font-size: 12px;
    padding: 0;
}
a{
    text-decoration: none;
}
.first-col{
    background-color: #CDF0EA;
}
.second-col{
    background-color: #F9F9F9;
}
.third-col{
    background-color: #F7DBF0;
}
.fourth-col{
    background-color: #BEAEE2;
}
.nac{
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 100px;
}
/* 
Home page styling
---------------------------------------------------------------------------------------
*/
.hcontainer{
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hcontainer .section{
    position: relative;
    height: 100%;
    background-blend-mode: multiply;
    margin: 0;
    width: 100%;
}
.hcontainer .section:nth-child(1){
    background: antiquewhite url(/refs/keep-it-simple-wallpaper-2560x1080_14.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
.hcontainer .section:nth-child(2){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}
.hcontainer .section:nth-child(3){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}

.hcontainer .section .li-items{
    display: flex;
    justify-content: center;    
    content: 'arrow_right';
    font-family: 'Material Icons';
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}
.hcontainer .section .li-items img{
    height: 100px;
}
.hcontainer .section .li-items h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.hcontainer .section .li-items ul li{
    list-style: none;
    color: black;
    font-size: larger;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding-top: 1rem;
    transition: ease-in-out 0.1s;
}
.hcontainer .section .li-items ul li a{
    display: flex;
    color: black;
    text-decoration: transparent;

}
.hcontainer .section .li-items ul li a:hover{
    transform: scale(1.2);
}
.hcontainer .section .li-items button{
    text-decoration: none;
    padding: 0;
    background: none;
    border-radius: 50%;
    border-style: none;
}
.hcontainer .section .li-items button:hover{
    transform: scale(1.2);
}
.home{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
}
.home-post{
    display: grid;
    grid-template-rows: auto auto;
    background-color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}
.home-post .thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.home-post .inner{
    padding: 20px;
    text-align: center;
}

.read{
    margin: 10px;
}
.recents{
    overflow: hidden;
    height: auto;
}
.recent_font{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.main {
    /* Same as the width of the sidebar */
       margin-top: 20px;
       padding: 0px 20px 10px 100px; 
       width: 73%;
       background-color: #ffffff4b;
}
.list-main{
    margin-top: 50px;
}
.rsidebar{
    width: 26%;
    float: right;
    top: 0;
    padding: 10px 30px;
    height: fit-content;
    margin: 10px;
    position:sticky;
    margin: 0;
    background-color: #c0c0c057;
    border: 13px solid rgb(255, 255, 255);
    border-radius: 20px;
    min-height: 100vh;
}
.toc {
    border-radius: 10px;
    padding: 0 0 10px 0;
}
.toc-inner{
    border-left: 2px solid #567c69;
    margin-left: 10px;
}
.toc-inner ul{
    list-style: decimal;
}
.toc-inner a{
    font-family: et-bembo;
    font-size: 20px;
    color: #4d3938;
}
.rsidebar .sidebox{
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
}
.rsidebar p{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.671);
    font-family: et-bembo;
}
.rsidebar ul.cloud{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;

  }
.rsidebar ul.cloud a {
    color: #ffffff;
    display: block;
    font-size: 1rem;
    margin: 5px;
    border-radius: 5px;
    background-color: #032715;
    padding: 0 0.5rem;
    text-decoration: none;
    position: relative; 
    --size: 4;
     font-size: calc(var(--size) * 0.25rem + 0.5rem);
  }
ul.cloud a[data-weight="1"] { --size: 1;background-color: #74bb97;}
ul.cloud a[data-weight="2"] { --size: 2;background-color: #5fa784; }
ul.cloud a[data-weight="3"] { --size: 3;background-color: #5a9476; }
ul.cloud a[data-weight="4"] { --size: 4;background-color: #456b57; }
ul.cloud a[data-weight="5"] { --size: 5;background-color: #405e4f; }
ul.cloud a[data-weight="6"] { --size: 6;background-color: #30493c; }
ul.cloud a[data-weight="7"] { --size: 7;background-color: #224131; }
ul.cloud a[data-weight="8"] { --size: 8;background-color: #173325; }
ul.cloud a[data-weight="9"] { --size: 9;background-color: #102e1f; }


.page-toc{
    border-radius: 10px;
    background-image: linear-gradient(-45deg, #f5f7fa 0%, var(--color10) 100%);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    left: var(--tocleft);
    overflow-x: hidden;
}


.page-toc h3{
    font-family: old;
    color: #1A7DAB;
    font-size: 40px;
    margin: 0;
    text-align: center;
}
  
/* 
Content styling
----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
*/
#progressbar{
    --scrollamount: 0%;
    background-image: linear-gradient(to left, var(--color1) 0%, var(--color10) 100%);
    z-index: 1;
    width: var(--scrollamount);
    height: 3px;
    
    position: fixed;
    left: -2px;
    top: 0;
}


/* .fadeInLeft{
    background-image: linear-gradient(-45deg, #f5f7fa 0%, var(--color10) 100%);
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}
@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in.appear{
    opacity: 1;
} */
/* ----------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
-----------------------------------*/
.single-title{
    width: 100%;
    z-index: 1;
    
    text-align: center;
    padding: 0 20px;
}
.single-title a.literal-title{
    text-decoration: none;
    font-family: playfair;
    color: black;
    font-size: 3em;
}
.single-title p.description {
    font-size: 2em;
    margin-top: 20px;
    font-family: lora;
    padding: 0 60px;
}

.single-title .single-time{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.644);
}
.single-hr{
    width: 150px;
    margin: auto;
    color: black;
    background-color: #fff;
    margin-top: 10px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}
.post-tags{
    text-align: center;
    font-size: 0.8em;
}


.content{
    text-align: justify;
    font-size: 1.1em;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #352817;
    margin-top: 40px;
    counter-reset: h2counter;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.content img{
    width: 82%;
    justify-content: center;
    border-radius: 10px;
}
.content h1{
    color: #000000;
    font-family: playfair;
    font-size: 2.3em;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
    counter-reset: h1counter;
}
.content h2{
    color: #2c2020;
    font-family: playfair;
    font-size: 2em;
    letter-spacing: 1.5px;
    background-color: #E26A2C05;
    counter-reset: h2counter;
}


.content h3{
    color: #351616;
    font-family: playfair;
    font-size: 2em;
    letter-spacing: 1.5px;
    background-color: #E26A2C05;
    counter-reset: h3counter;
}
.content h4{
    color: #000000;
    font-family: playfair;
    font-size: 1.7em;
    letter-spacing: 1.5px;
    background-color: #E26A2C05;
    counter-reset: h4counter;

}

.content h5{
    color: #000000;
    font-family: playfair;
    font-size: 1.4em;
    letter-spacing: 1.5px;
    background-color: #E26A2C05;
    counter-reset: h5counter;
}
.content h6{
    color: #000000;
    font-family: playfair;
    font-size: 30px;
    letter-spacing: 1.1px;
    background-color: #E26A2C05;
}
.content h3:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
.content h4:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
    counter-reset: h4counter;
}
.content h5:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
    counter-reset: h5counter;
}
.content h6:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
    counter-increment: h5counter;
    counter-reset: h6counter;
}
.content a{
    text-decoration: red;
}
.content ul{
    text-align: justify;
    margin-left: 100px;
}
.content li{
    color: rgb(102, 102, 102);
    list-style: url(/refs/egg_black_black.svg);
}
.content pre{
    background-color: #00493d00 !important;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px silver;
    font-size: 15px;
}
.content code{
    font-family: jetbrains mono;
    color: black;
}
.initial::first-letter{
    float: left;
    font-size: 4em;
    padding: 10px;
    color: black;
    font-family: old;
    background-color: whitesmoke;
    box-shadow: 4px 4px black;
    margin-right: 8px;

}









.keyword{
    font-size: 15px; 
    color: black;
}
.entry{
    margin-bottom: 0;
    margin-top: 20px;
}
.entry-title{
    font-family: elsie;
    font-size: 80px;
    width: 100%;
    color: #1A7DAB;
}

.intresting{
    background-color: rgb(255, 251, 239);
    padding: 30px;
    border-left:solid 10px burlywood;
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}
.intresting p{
    font-family: elsie;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.699);
}

/* -----------------------------------------------------
--------------------------------------------------------
----------------------------------------------------------
-----------------------------------------------------------
 */
 
.paginator{
    width: 100%;
    display: flex;
    justify-content: center;
}
.list-box{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116); */
/* border-top: solid 1px black;
border-bottom: solid 1px black; */
}
.listline{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #1A7DAB;
    border-radius: 20%;
}
.keyword{
    color:rgb(121,121,121);
}
.list-tags{
    font-size:1em;
    text-align: center;
}
/* Style the button that is used to open and close the collapsible content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

.post-box{
    display: grid;
    grid-template-columns: 40% 60%;
}
.post-box .thumb{
    display: flex;
    align-items: center;
    padding: 20px;

}

.thumb picture img{
    width:100%;
}
.inner{
    padding: 30px 20px;
}
.inner .list-title{
    font-size: 2em;
    font-family: playfair;
    text-align: justify;
    color: #000000;
/* text-shadow: 3px 3px 3px rgb(235, 235, 235); */
}
.inner .list-description{
    color: black;
    font-family: lora;
    font-size: 1.4em;

}
.inner .time{
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.747);
}

.sitenamesize{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.nav{
    text-align: center;}
.sitedescription{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}


.navlist{
    justify-content: center;
    font-size: 20px;
}
.navlist a{
    font-family: fantasy;
}
.post-author{
    color: rgb(121, 121, 121);
}
.tag_shadow{
    box-shadow: 2px 2px 5px rgba(156, 156, 156, 0.384);
    font-size: 13px;
}
/*  ###########################################
    #
    # List styling    #
    #
    ###########################################
*/
/* .entry{
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
    color: black;
} */
/* w */
  .singleline{
    margin-bottom: 20px;
  }
  .navline{
    padding: 0;
    margin-top: 2px;
    background-color: #000000;
    color: #000000;
    margin-bottom: 2px;
    border: solid 2px black;
    border-radius: 10px;
  
  }
  .box{
    box-sizing: content-box;
    background-color: rgba(212, 212, 212, 0.219);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    box-shadow: 15px 15px 20px 2px rgba(201, 201, 201, 0.473);
  }
  .box::hover{
    transform: translate(10px);
  }
  
  
  .start img{
    float: left;
    width: 50%;
    border-radius: 8px;
    margin-right: 10px; font-size: 20px;
  }
  .start {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .post-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.603);
  
  }
  .start .summarycontent{
    text-align: justify;
  }
  .start .site-title{
    font-family: cm;
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }
  
  .page-list{
    width: 100%;
  }
  

@media screen and (max-width: 450px) {
    .sidenav {padding-top: 9px;
                display: none;
    }
    .sidenav a {font-size: 9px;}
    .main {
        padding: 20px; /* Same as the width of the sidebar */
        width:100%;
      }
      .content{
          width: 100%;
      }
    .content img{
        margin-right: 0;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .single-title a.literal-title{
        font-size: 2.3em;
    }
    .single-title p.description {
        font-size: 1.6em;
        padding: 0;
    }
    #progressbar{
        height: 4px;
    }
    .sidenav-tab-button{
        display: block;
    }
    .rsidebar{
        display: none;
    }
    .post-box{
        display: grid;
        grid-template-columns: 100%;
    }
    .inner{
        padding: 0px 20px;
    }
    .inner .list-title{
        font-size: 1.3em;
    }
    .inner .time{
        font-size: 0.8em;
    }
    .inner .list-description{
        font-size: 1em;
    }
    .home{
        display: none;
    }

  }

