
/* the colors are material design TEAL 50 */

:root {
    --blue: #1A7DAB;
    --initialfontcolor: black;
    --initialfontbg: #EFEFEF;
    --initialfontshadow: #1A7DAB;
    --color1: #006064;
    --color2: #00838F;
    --color3: #0097A7;
    --color4: #00ACC1;
    --color5: #00BCD4;
    --color6: #26C6DA;
    --color7: #4DD0E1;
    --color8: #80DEEA;
    --color9: #B2EBF2;
    --color10: #E0F7FA;

}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: 'jetbrains mono';
    font-style:normal;
    font-weight: 400;
    src: local('jetbrains mono'), url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'elsie';
    font-style: normal;
    font-weight: 400;
    src: local('elsie'), url('/fonts/Elsie-Regular.ttf');
}
@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: local('playfair'), url('/nfonts/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'playfair';
    font-style: italic;
    font-weight: 400;
    src: local('playfair'), url('/nfonts/PlayfaitDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    src: local('lora'), url('/nfonts/Lora-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'lora';
    font-style: italic;
    font-weight: 400;
    src: local('lora'), url('/nfonts/Lora-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'monteserrat';
    font-style: normal;
    font-weight: 400;
    src: local('monteserrat'), url('/nfonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'et-bembo';
    font-style: normal;
    font-weight: 400;
    src: local('et-bembo'), url('/fonts/et-book-semi-bold-old-style-figures.ttf');
}

@font-face {
    font-family: 'old';
    font-style: normal;
    font-weight: 400;
    src: local('old'), url('/fonts/CloisterBlack.ttf');
}
*{
    font-family: slabo;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    margin: 0;
    padding: 0;
    position: relative;
}
/* 1st Works on Firefox */ /* 2nd Works on Chrome, Edge, and Safari */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #1a7daba4 rgba(194, 194, 194, 0);
  }
  
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(194, 194, 194);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1a7daba4;
    border-radius: 20px;
    border: 3px solid rgb(194, 194, 194);
  } */
#site-footer{
    height: 20px;
    background-color: rgb(201, 201, 201);
    font-size: 12px;
    padding: 0;
}
a{
    text-decoration: none;
}



/* 
Home page styling
---------------------------------------------------------------------------------------
*/
.hcontainer{
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hcontainer .section{
    position: relative;
    height: 100%;
    background-blend-mode: multiply;
    margin: 0;
    width: 100%;
}
.hcontainer .section:nth-child(1){
    background: antiquewhite url(/refs/keep-it-simple-wallpaper-2560x1080_14.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
.hcontainer .section:nth-child(2){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}
.hcontainer .section:nth-child(3){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}

.hcontainer .section .li-items{
    display: flex;
    justify-content: center;    
    content: 'arrow_right';
    font-family: 'Material Icons';
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}
.hcontainer .section .li-items img{
    height: 100px;
}
.hcontainer .section .li-items h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.hcontainer .section .li-items ul li{
    list-style: none;
    color: black;
    font-size: larger;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding-top: 1rem;
    transition: ease-in-out 0.1s;
}
.hcontainer .section .li-items ul li a{
    display: flex;
    color: black;
    text-decoration: transparent;

}
.hcontainer .section .li-items ul li a:hover{
    transform: scale(1.2);
}
.hcontainer .section .li-items button{
    text-decoration: none;
    padding: 0;
    background: none;
    border-radius: 50%;
    border-style: none;
}
.hcontainer .section .li-items button:hover{
    transform: scale(1.2);
}
.row .column{
    border: solid 1px rgba(0, 0, 0, 0.363);
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: 0.1s ease-out;
    width: 100%;
    height: 270px;
}
.row .column:hover{
    translate: -5px -5px;
    box-shadow: 5px 5px 3px rgb(199, 199, 199);
}
.row .column .title{
    text-decoration: none;
    font-size: 18px;
    color: #1A7DAB;
}
.row .column img{
    float: left;
    border-radius: 10px;
    margin-right: 5px;
}
.row .column .summarycontent{
    text-align: justify;
    font-size: 15px;
}
.read{
    margin: 10px;
}
.recents{
    overflow: hidden;
    height: auto;
}
.recent_font{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.rsidebar{
    width: 20%;
    float: right;
    background-color: rgba(245, 222, 179, 0);
    top: 0;
    padding: 2px;
    height: fit-content;
    margin: 10px;
    position:sticky;
    margin-top: 20px;
}
.rsidebar .sidebox{
    background-color: wheat;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
}
.rsidebar p{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.671);
    font-family: et-bembo;
}
.rsidebar ul.cloud{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
  }
.rsidebar ul.cloud a {
    color: #a33;
    display: block;
    font-size: 1rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative; 
    --size: 4;
     font-size: calc(var(--size) * 0.25rem + 0.5rem);
  }
ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 5; }
ul.cloud a[data-weight="6"] { --size: 6; }
ul.cloud a[data-weight="7"] { --size: 7; }
ul.cloud a[data-weight="8"] { --size: 8; }
ul.cloud a[data-weight="9"] { --size: 9; }
  
  
/* 
Content styling
----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
*/
#progressbar{
    --scrollamount: 0%;
    background-image: linear-gradient(to left, var(--color1) 0%, var(--color10) 100%);
    z-index: 1;
    width: var(--scrollamount);
    height: 3px;
    
    position: fixed;
    left: -2px;
    top: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sidenav {
    background-image: linear-gradient(-45deg, #f5f7fa 0%, var(--color10) 100%);
    width: 300px;
    position: fixed;
    top: 0;
    display: none;
    z-index: 1; 
    left: 5px;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 0;
    background-color: #00838F;

}
/* .sidenav li.active > a {
    color:purple;
    font-weight: 600;
} */
/* .sidenav a:hover,
.sidenav a:focus {
  color: #666;
  font-weight: 600;
} */

/* nav > ul, ol {
  list-style: none;
  margin: 1rem;
  padding: 0;
} */
.none{
    display: block;
}
  /* The navigation menu links */
.sidenav a{
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #552e2e;
    display: block;
    margin-left: 0;
    transition: all 100ms ease-in-out;
}
.sidenav h4{
      color: #1A7DAB;
      text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #552e2e80;
    
  }

  /* Style page content */

.sidenav ul{
    list-style: none;
}
.sidenav-tab-button{
    background-color: var(--color1);
    z-index: 1;
    margin-top: 10px;
    color: white;
    position: fixed;
    left: 0;
    border: 0;
    border-radius: 0px 7px 7px 0px;
    padding: 10px;
    width: 40px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    word-break: break-all;
    display: none;
}
.m-sidenav{
    background-color: var(--color1);
    color: white;
    padding: 10px;
    position:fixed;
    left: 0;
    display: none;
    
}



.page-toc{
    border-radius: 10px;
    background-image: linear-gradient(-45deg, #f5f7fa 0%, var(--color10) 100%);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    left: var(--tocleft);
    overflow-x: hidden;
}
.toc-inner{
    border-left: 2px solid #1A7DAB;
    margin-left: 10px;
}
.toc-inner a{
    font-family: et-bembo;
    font-size: 20px;
    color: #1A7DAB;
}
.toc-inner{
    list-style:none!important;
}

.page-toc h3{
    font-family: old;
    color: #1A7DAB;
    font-size: 40px;
    margin: 0;
    text-align: center;
}
/* .fadeInLeft{
    background-image: linear-gradient(-45deg, #f5f7fa 0%, var(--color10) 100%);
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}
@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in.appear{
    opacity: 1;
} */
/* ----------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
-----------------------------------*/
.single-title{
    width: 100%;
    z-index: 1;
    
    text-align: center;
    padding: 0 20px;
}
.single-title a.literal-title{
    text-decoration: none;
    font-family: playfair;
    color: black;
    font-size: 3em;
}
.single-title p.description {
    font-size: 2em;
    margin-top: 20px;
    font-family: lora;
}

.single-title .single-time{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.644);
}
.single-hr{
    width: 40%;
    margin: auto;
    height: 2px;
    color: black;
    background-color: #fff;
    margin-top: 10px;
    border-top: 2px dashed black;
}
.post-tags{
    text-align: center;
    font-size: 0.8em;
}


.content{
    text-align: justify;
    font-size: 20px;
    font-family: monteserrat;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #352817;
    margin-top: 40px;
}
p{
    font-family: monteserrat;
}

.content img{
    width: 82%;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}
.content h1{
    color: #000000;
    font-family: et-bembo;
    font-size: 2em;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}
.content h2{
    color: #000000;
    font-family: et-bembo;
    font-size: 1.8em;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}
.content h3{
    color: #000000;
    font-family: et-bembo;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}
.content h4{
    color: #000000;
    font-family: et-bembo;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}
.content h5{
    color: #000000;
    font-family: et-bembo;
    font-size: 1.3px;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}
.content h6{
    color: #000000;
    font-family: et-bembo;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #E26A2C05;
}

.content a{
    text-decoration: red;
}
.content ul{
    text-align: justify;
    margin-left: 100px;
}
.content li{
    color: rgb(102, 102, 102);
    list-style: url(/refs/egg_black_black.svg);
}
.content pre{
    background-color: #00493d00 !important;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px silver;
    font-size: 15px;
}
.content code{
    font-family: jetbrains mono;
    color: black;
}
/* .content code{
    padding: 10px;
    background-color: rgba(25, 8, 43, 0.534);
} */

.initial::first-letter{
    float: left;
    font-size: 55px;
    padding: 10px;
    color: var(--initialfontcolor);
    font-family: old;
    background-color: var(--initialfontbg);
    box-shadow: 4px 4px var(--initialfontshadow);
    margin-right: 8px;

}









.keyword{
    font-size: 15px; 
    color: black;
}
.entry{
    margin-bottom: 0;
    margin-top: 20px;
}
.entry-title{
    font-family: elsie;
    font-size: 80px;
    width: 100%;
    color: #1A7DAB;
}

.intresting{
    background-color: rgb(255, 251, 239);
    padding: 30px;
    border-left:solid 10px burlywood;
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
}
.intresting p{
    font-family: elsie;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.699);
}



.sitenamesize{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.nav{
    text-align: center;}
.sitedescription{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}


.navlist{
    justify-content: center;
    font-size: 20px;
}
.navlist a{
    font-family: fantasy;
}
.post-author{
    color: rgb(121, 121, 121);
}
.tag_shadow{
    box-shadow: 2px 2px 5px rgba(156, 156, 156, 0.384);
    font-size: 13px;
}
/*  ###########################################
    #
    # List styling    #
    #
    ###########################################
*/
/* .entry{
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
    color: black;
} */
/* w */
  .singleline{
    margin-bottom: 20px;
  }
  .navline{
    padding: 0;
    margin-top: 2px;
    background-color: #000000;
    color: #000000;
    margin-bottom: 2px;
    border: solid 2px black;
    border-radius: 10px;
  
  }
  .box{
    box-sizing: content-box;
    background-color: rgba(212, 212, 212, 0.219);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    box-shadow: 15px 15px 20px 2px rgba(201, 201, 201, 0.473);
  }
  .box::hover{
    transform: translate(10px);
  }
  
  
  .start img{
    float: left;
    width: 50%;
    border-radius: 8px;
    margin-right: 10px; font-size: 20px;
  }
  .start {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .post-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.603);
  
  }
  .start .summarycontent{
    text-align: justify;
  }
  .start .site-title{
    font-family: cm;
    font-size: 25px;
    justify-content: center;
    text-align: center;
  }
  
  .page-list{
    width: 100%;
  }
  .paginator{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .listline{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #1A7DAB;
    border-radius: 20%;
  }
  .keyword{
    color:rgb(121,121,121)
  }
  .post-tags{
    font-size: medium;
  }
   /* Style the button that is used to open and close the collapsible content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
.main {
    /* Same as the width of the sidebar */
       margin-top: 20px;
       padding: 0px 20px 10px 100px; 
       width: 78%;
       background-color: #ffffff4b;
}
.post-box{
    display: grid;
    grid-template-columns: 40% 60%;
}
.post-box .thumb{
    display: flex;
    align-items: center;
    padding: 20px;

}

.thumb picture img{
    width:100%;
}
.inner{
    padding: 30px 20px;
}
.inner .list-title{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #000000;
    /* text-shadow: 3px 3px 3px rgb(235, 235, 235); */
}
.inner .list-description{
    color: black;
    font-size: 1.4em;

}
.inner .time{
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.747);
}
.list-box{
    /* border-top: solid 1px black;
    border-bottom: solid 1px black; */
}

@media screen and (max-width: 450px) {
    .sidenav {padding-top: 9px;
                display: none;
    }
    .sidenav a {font-size: 9px;}
    .main {
        padding: 20px; /* Same as the width of the sidebar */
        width:100%;
      }
      .content{
          width: 100%;
      }
    .content img{
        margin-right: 0;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .single-title a.literal-title{
        font-size: 2.3em;
    }
    .single-title p.description {
        font-size: 1.6em;
    }
    #progressbar{
        height: 4px;
    }
    .sidenav-tab-button{
        display: block;
    }
    .rsidebar{
        display: none;
    }
    .post-box{
        display: grid;
        grid-template-columns: 100%;
    }
    .inner .list-title{
        font-size: 1.3em;
    }
    .inner .time{
        font-size: 0.8em;
    }
    .inner .list-description{
        font-size: 1em;
    }

  }

