<div class="single-title">
    <div class="post-tags"><i class="fas fa-tags"></i>
        <span>{{ range (.GetTerms "tags" ) }}
            <a href="{{ .Permalink }}" class="tag m-bs bg">{{ .LinkTitle}}</a>
        {{ end }}</span></div>
    <!-- <div class="post-tags">
        <a href="/categories/" class="keyword">categories</a>
        {{ range (.GetTerms "categories" ) }}
                <a href="{{ .Permalink }}" class="badge bg-danger tag_shadow">{{ .LinkTitle}}</a>
        {{ end }}
    </div> -->
    <div class="literal-title">
        <a href="/posts/">{{ .Title }}</a>
        <p >{{ .Params.description }}</p>    
    </div>

    <div class="author">
        <a href="/about.html">{{ $.Params.author }}</a>
        <time class="single-time">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    
</div>