
:root {

    /* --color-manjaro: #00bd7e; */
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-accent: #1C8882;
    --color-manjaro: #1C8882;
    --color-dark-grey: #4A5258;
    --color-light-grey: #E2E1E0;
    --br: 0.2em;
    --ff-title: playfair;
    --ff-main: et-bembo;
    --ff-descriptive: lora;
    --ff-mono: jetbrains mono;
    --ff-cursive: handwriting;
    --fs-h1: 2.5em;
    --fs-h2: 2em;
    --fs-h3: 1.6em;
    --fs-h4: 1.2em;
    --fs-h5: 1.2em;
    --fs-h6: 1.2em;
    --fs-main:1.1em;
    --material-light-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    --material-light-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --material-light-shadow-strong: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}







@media screen and (max-width: 800px){
    :root{
        --fs-h1: 2.3em;
        --fs-h2: 1.8em;
        --fs-h3: 1.4em;
        --fs-h4: 1.2em;
        --fs-h5: 1.2em;
        --fs-h6: 1.2em;
        --fs-main:1.1em;
    }}
@media screen and (max-width: 600px){
    :root{
        --fs-h1: 2.0em;
        --fs-h2: 1.5em;
        --fs-h3: 1.2em;
        --fs-h4: 1.2em;
        --fs-h5: 1.2em;
        --fs-h6: 1.2em;
        --fs-main:1.1em;
    }}


.material-shadow-with-hover{box-shadow: var(--material-light-shadow); transition: var(--material-transition);}
.material-shadow-with-hover:active,.material-shadow-with-hover:hover{box-shadow: var(--material-light-shadow-hover);transform: translateY(-5px);}

.material-shadow-without-hover{box-shadow: var(--material-light-shadow);}
.background{background-color: var(--color-bg);}
.round{border-radius: 5px;}

/* links  */
a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.c-m-pad{padding: 0.5em;}
.c-b-pad{padding: 1em;}
.h-b-pad{padding: 0 1em;}
.v-b-pad{padding: 1em 0;}
.t-vb-pad{padding-top: 2.5em;}
.b-b-pad{padding-bottom: 1em;}
.r-m-pad{padding-right: 0.5em;}
.l-m-pad{padding-left: 0.5em;}

.r-m-mar{margin-right: 0.5em;}
.t-b-mar{margin-top: 1em;}
.t-vb-mar{margin-top: 2em;}
.b-m-mar{margin-bottom: 0.5em;}
.b-s-mar{margin-bottom: 5px;}
.r-b-mar{margin-right: 1em;}
.c-vs-mar{margin: 0.1em;}
.v-mar{margin: auto 0;}
.h-mar{margin: 0 auto;}
.v-b-mar{margin: 0 1em;}
.b-vb-mar{margin-bottom: 2em;}
.b-b-mar{margin-bottom: 1em;}
.auto-mar{margin: auto;}
.justify-start{justify-content: start;}
.justify-center{justify-content: center;}
.text-start{text-align: start;}
.gap+.gap{margin-left: 1em;}


.page-width{
    width: 90%;
}
@media screen and (max-width: 450px){
    .page-width{width: 98%;}
    
    
}

.bbox{
    position: relative;
    display: block;
    min-width: 0;
    word-wrap: break-word;
}
.bbox-title{
    text-align: start;
    margin-left: 5px;
    color: var(--color-accent);
    font-size: 1.4em;
    margin-bottom: 0.5em;
    text-decoration: none;
}

/* lists with div */
.full-width-li{
    display: flex;
    flex-direction: column;}


/* buttons */
.button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--color-bg);
    color: var(--color-manjaro);
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    box-shadow: var(--material-light-shadow);
    transition: var(--material-transition);}
.button:hover,
.button:focus{
    box-shadow: var(--material-light-shadow-hover);
    transform: translateY(-5px);
    color: var(--color-manjaro);}
.full-width-li>.button{
    display: inline-flex !important;
    width: 100%;
    justify-content: space-between;}

/* button badge */
.badge{
    background-color: var(--color-manjaro);
    color: var(--color-bg);
    font-size: 0.8em;
}

/* .taxonomy{
    display: flex;
    justify-content: start;
    margin-bottom: 0.5em;
} */

.tag{
    padding: 0.1em 0.3em 0.2em 0.3em;
    border-radius: 0.3em;
    margin-left: 0.3em;
    text-decoration: none;
    font-family: var(--ff-descriptive);
    color: var(--color-manjaro);
    transition: var(--material-transition);
}
.tag:hover{
    box-shadow: var(--material-light-shadow-strong);
    color: var(--color-manjaro);

}
.title{
    text-decoration: none;
    font-family: var(--ff-title);
    font-size: var(--fs-h1);
    display: block;
    color: var(--color-accent);
}
.description{
    font-size: var(--fs-h3);
    font-family: var(--ff-main);
    color: var(--color-fg);
}

.bottom-line::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--color-fg);
    display: block;
    margin: auto;
    /* margin-top: ; */
}

.auto-grid{display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* grid-auto-flow: row dense; */
    gap: 1em 0;
}
.th-on-grid{display: grid;grid-template-columns: 75% 25%;}


.focus{
    width: 90%;
    justify-self: right;
    border-radius: 5px;
}

.mycard{
    display: flex;
    flex-wrap: wrap;
    /* height: min-content; */
    justify-content: start;
    text-decoration: none;
    background-color: var(--color-bg);
    
}
.mycard-head img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.mycard-body{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    padding: 0.5em;
}
.mycard-body>.title{font-size: var(--fs-h3);}
.mycard-body>.description{font-size: var(--ff-main);}
.mycard-footer{
    display: block;
    padding: 1em;
    width: 100%;
    margin-top: auto;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-left: 5px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-dark-grey);
}

@media screen and (max-width: 800px){
    .single-title{
        width: 100%;
        padding: 5px;
        display: block;
    }
    .th-on-grid{
        width: 100%;
        padding: 5px;
        display: block;
    }
    .tw-tw-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* padding: 5px; */
        grid-gap: 1em;
    }
    .extra-area{
        display: none;
    }
    .page-toc{
        display: block;
    }
    .focus{
        width: 100%;
        justify-self: center;
    }
    .gap+.gap{margin-left: 0;}
    .content img{width: 100%;}
    .mycard{margin: 0;}
}
/* tooltip */
.tool-tip{
    display: inline-block;
    position: relative;
}
.tool-tip-main{
    position: relative;
    display: block;
    left: -2em;
}
.tool-tip .tool-tip-text{
    visibility: hidden;
    width: 120px;
    background-color: var(--color-accent);
    color: var(--color-fg);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    margin-left: calc(-2em-60px);
    /* Fade in tooltip */
    opacity: 0;
    transition: var(--material-transition);
}
.tool-tip .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-accent) transparent transparent transparent;
}
  .tool-tip:hover .tool-tip-text  {
    visibility: visible;
    opacity: 1;
}
  .tool-tip:hover .tool-tip-main{
    color: var(--color-dark-grey);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    grid-gap: 10px;
  }
  
.pagination a {
    text-decoration: none;
    border: none;
    color: var(--color-fg);
    font-family: var(--ff-descriptive);
    font-size: 1.25em;
    box-shadow: var(--material-light-shadow);
    transition: var(--material-transition);
}  
.pagination a.active {
    background-color: var(--color-dark-grey);
    color: white;
    border: 1px solid #4CAF50;
}
  .pagination a:hover:not(.active),
  .pagination a:focus{box-shadow: var(--material-light-shadow-hover);transform: translateY(-5px);color: currentColor;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.page{
    width: 80%;
    padding: 2em;
    background-color: var(--color-bg);
    margin: 2em auto;
    box-shadow: var(--material-light-shadow);
    border-radius: 5px;
    height: min-content;
    outline: 2px solid var(--color-accent);
    outline-offset: -1em;

}
html.dark #button-dark-mode #light-mode-icon {
    @apply hidden;
}
html:not(.dark) #button-dark-mode #dark-mode-icon {
    @apply hidden;
}
@media screen and (max-width: 650px){
    .page{width: 98%;}
}



.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }



@media(prefers-color-scheme:light){
    :root{
        --color-bg: #ffffff;
        --color-fg: #000000;
        --color-accent: #1C8882;
        --color-manjaro: #1C8882;
        --color-dark-grey: #4A5258;
        --color-light-grey: #E2E1E0;
    }
}
[color-scheme="dark"]{
        --color-bg: #000000;
        --color-fg: #000000;
        --color-accent: #881c1c;
        --color-manjaro: #881c1c;
        --color-dark-grey: #514a58;
        --color-light-grey: #550000;
}