


/*  ###########################################
    #
    # List styling    #
    #
    ###########################################
*/
/* .entry{
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
    color: black;
} */
hr{
  padding: 0;
  margin-top: 5px;
  background-color: black;
  color: #000000;
  margin-bottom: 5px;
  border: solid 2px #000000;
  border-radius: 10px;

}
.singleline{
  margin-bottom: 20px;
}
.navline{
  padding: 0;
  margin-top: 2px;
  background-color: #000000;
  color: #000000;
  margin-bottom: 2px;
  border: solid 2px black;
  border-radius: 10px;

}
.box{
  box-sizing: content-box;
  background-color: rgba(212, 212, 212, 0.219);
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  box-shadow: 15px 15px 20px 2px rgba(201, 201, 201, 0.473);
}
.box::hover{
  transform: translate(10px);
}


.start img{
  float: left;
  width: 50%;
  border-radius: 8px;
  margin-right: 10px; font-size: 20px;
}
.start {
  justify-content: center;
  width: 100%;
  text-align: center;
}
.post-date{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.603);

}
.start .summarycontent{
  text-align: justify;
}
.start .site-title{
  font-family: cm;
  font-size: 25px;
  justify-content: center;
  text-align: center;
}

.page-list{
  width: 100%;
}
.paginator{
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-title{
  font-size: 25px;
  font-family: cm;
  justify-content: center;
  width: 100%;
  text-align: justify;
  margin: 0;
  color: #1A7DAB;
  /* text-shadow: 3px 3px 3px rgb(235, 235, 235); */
}
.listline{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #1A7DAB;
  border-radius: 20%;
}
.description{
  text-align: justify;
}
.keyword{
  color:rgb(121,121,121)
}
.post-tags{
  font-size: medium;
}