
/*  #####################################################
    # font styling
    #
    #
    ##################################################### */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: 'jetbrains mono';
    font-style: normal;
    font-weight: 400;
    src: local('jetbrains mono'), url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
  }
@font-face {
    font-family: 'main';
    font-style: normal;
    font-weight: 400;
    src: local('main'), url('/fonts/merriweather-Regular.ttf');
  }
@font-face {
    font-family: 'cm';
    font-style: normal;
    font-weight: 400;
    src: local('cm'), url('/fonts/cm/cmr6.ttf');
  }
*{
    font-family: "main";
}

/*  ###########################################
    #global styling
    #
    #
    #
    #
    ############################################
*/
body{
    margin: 0;
    padding: 0;
    position: relative;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #1A7DAB rgba(194, 194, 194, 0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(194, 194, 194);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1A7DAB;
    border-radius: 20px;
    border: 3px solid rgb(194, 194, 194);
  }
#site-footer{
    height: 20px;
    background-color: rgb(201, 201, 201);
    font-size: 12px;
    padding: 0;
}
a{
    text-decoration: none;
}


/*  ################################################
    #
    # Homepage styling
    # -hcontainer
    #
    ################################################ */
.hcontainer{
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hcontainer .section{
    position: relative;
    height: 100%;
    background-blend-mode: multiply;
    margin: 0;
    width: 100%;
}
.hcontainer .section:nth-child(1){
    background: antiquewhite url(/refs/keep-it-simple-wallpaper-2560x1080_14.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
.hcontainer .section:nth-child(2){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}
.hcontainer .section:nth-child(3){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}

.hcontainer .section .li-items{
    display: flex;
    justify-content: center;    
    content: 'arrow_right';
    font-family: 'Material Icons';
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}
.hcontainer .section .li-items img{
    height: 100px;
}
.hcontainer .section .li-items h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.hcontainer .section .li-items ul li{
    list-style: none;
    color: black;
    font-size: larger;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding-top: 1rem;
    transition: ease-in-out 0.1s;
}
.hcontainer .section .li-items ul li a{
    display: flex;
    color: black;
    text-decoration: transparent;

}
.hcontainer .section .li-items ul li a:hover{
    transform: scale(1.2);
}
.hcontainer .section .li-items button{
    text-decoration: none;
    padding: 0;
    background: none;
    border-radius: 50%;
    border-style: none;
}
.hcontainer .section .li-items button:hover{
    transform: scale(1.2);
}
.row .column{
    border: solid 1px rgba(0, 0, 0, 0.363);
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: 0.1s ease-out;
    width: 100%;
    height: 270px;
}
.row .column:hover{
    translate: -5px -5px;
    box-shadow: 5px 5px 3px rgb(199, 199, 199);
}
.row .column img{
    float: left;
    border-radius: 10px;
    margin-right: 5px;
}
.read{
    margin: 10px;
}
.row .column .title{
    text-decoration: none;
    font-size: 18px;
    color: #1A7DAB;
}
.row .column .summarycontent{
    text-align: justify;
    font-size: 15px;
}
.recents{
    overflow: hidden;
    height: auto;
}
.recent_font{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    align-items: center;
    display: flex;

}
.margin_down{
    margin-bottom: 30px;
}