
/*  #####################################################
    # font styling
    #
    #
    ##################################################### */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: 'jetbrains mono';
    font-style: normal;
    font-weight: 400;
    src: local('jetbrains mono'), url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
  }
@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: local('playfair'), url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
  }
@font-face {
    font-family: 'cm';
    font-style: normal;
    font-weight: 400;
    src: local('cm'), url('/fonts/cm/cmunorm.ttf');
  }
*{
    font-family: "jetbrains mono";
}

/*  ###########################################
    #global styling
    #
    #
    #
    #
    ############################################
*/
body{
    margin: 0;
    padding: 0;
    position: relative;
}
#site-footer{
    height: 20px;
    background-color: rgb(201, 201, 201);
    font-size: 12px;
    padding: 0;
}
a{
    text-decoration: none;
}

.thickline{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #156083;
    border-radius: 20%;

}
.navline{
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #000000;
    border-radius: 50%;

}
/*  ################################################
    #
    # Homepage styling
    # -hcontainer
    #
    ################################################ */
.hcontainer{
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hcontainer .section{
    position: relative;
    height: 90%;
    background-blend-mode: multiply;
    margin: 0;
    width: 100%;
}
.hcontainer .section:nth-child(1){
    background: antiquewhite url(/refs/keep-it-simple-wallpaper-2560x1080_14.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
.hcontainer .section:nth-child(2){
    background: antiquewhite;
    background-attachment: fixed;
    background-size: cover;
}
.hcontainer .section:nth-child(3){
    background: rgb(90, 90, 90) url(/refs/keep-it-simple-wallpaper-2560x1080_14.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/*  ###########################################
    # Single page styling    border: solid #156083;
    #
    #
    #############################################
*/




.description{
      font-size: 20px;
      font-family: cm;
}

.keyword{
    font-size: 15px; 
    color: black;
}
.hello{
    font-family: cm;
    color: #1A7DAB;
    font-size: 25px;
}
.hcontainer .section .li-items{
    display: flex;
    justify-content: center;    
    content: 'arrow_right';
    font-family: 'Material Icons';
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}
.hcontainer .section .li-items img{
    height: 100px;
}
.hcontainer .section .li-items h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
.hcontainer .section .li-items ul li{
    list-style: none;
    color: black;
    font-size: larger;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding-top: 1rem;
    transition: ease-in-out 0.1s;
}
.hcontainer .section .li-items ul li a{
    display: flex;
    color: black;
    text-decoration: transparent;

}
.hcontainer .section .li-items ul li a:hover{
    transform: scale(1.2);
}


.content li{
    color: rgb(102, 102, 102);
    list-style: url(/refs/egg_black_24dp.svg);
}



.sitename{
    padding: 0;
    margin-top: -62px;
    position:absolute;
    margin-left: 100px;
}

.sitenamesize{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.sitedescription{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}
.entry{
    margin-bottom: 0;
    margin-top: 20px;
}
.entry-title{
    font-family: cm;
    font-size: 40px;
    color: #1A7DAB;
}
.navlist{
    justify-content: center;
}







/*  ###########################################
    #
    #
    # main containt styling
    #
    #
    ###########################################
*/
.content img{
    width: 100%;
}
.content h1{
    color: #1A7DAB;
    font-size: 30px;
}
.content h2{
    color: #1A7DAB;
    font-size: 28px;
}
.content h3{
    color: #1A7DAB;
    font-size: 24px;
}
.content h4{
    color: #1A7DAB;
    font-size: 20px;
}
.content h5{
    color: #1A7DAB;             
              
    font-size: 20px;
}
.content h6{
    color: #1A7DAB;
    font-size: 18px;
}
.content a{
    text-decoration: red;
}

/*  ###########################################
    #
    # List styling    #
    #
    ###########################################
*/
/* .entry{
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 0;
    color: black;
} */
.box{
    box-sizing: content-box;
    background-color: rgba(212, 212, 212, 0.219);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    box-shadow: 15px 15px 20px 2px rgba(201, 201, 201, 0.473);
}
.box::hover{
    transform: translate(10px);
}


.start img{
    float: left;
    width: 50%;
    margin-right: 10px;
}
.start {
    justify-content: center;
    width: 100%;
    text-align: center;
}
.post-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.603);

}
.start .summarycontent{
    font-size: 14px;
    text-align: start;
}
.start .site-title{
    font-family: cm;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.page-list{
    width: 100%;
}
.paginator{
    width: 100%;
    display: flex;
    justify-content: center;
}
.list-title{
    font-size: 30px;
    font-family: cm;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #1A7DAB;
    text-shadow: 3px 3px 3px rgb(235, 235, 235);
}
.listline{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #1A7DAB;
    border-radius: 20%;
}
