<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta.html" . -}}

</head>
<body>
    {{- partial "header/index" . -}}
    <main class="site-main">
        <div>{{ block "main" . }}{{ end }}</div>
    </main>
    <footer id="site-footer">
        <div class="copyright text-center">
            &copy; {{ .Site.Title }} 2021 
        </div>
    </footer>
    <script src="/js/bs/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wordcloud2.js"></script>
</body>
</html>
