<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">  
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light mynav">
            <div class="container">
              <span>
                <a class="navbar-brand" href="/"><img src="/refs/logo.svg" alt="Continuity" width="100" height="54"></a>
              </span>
              <span class="sitename">
                <div>
                  <a href="/" class="navbar-brand sitenamesize">Continuity</a>
                </div>
                <div>
                  <a href="/" class="sitedescription"><p>Physics site</p></a>
                </div>
              </span>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/">Home</a>
                  <a class="nav-link" href="/posts/">Content</a>
                  <a class="nav-link" href="/About">About</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main class="site-main">
        <div class="container">{{ block "main" . }}{{ end }}</div>
    </main>
    <footer id="site-footer">
        <div class="copyright text-center">
            &copy; {{ .Site.Title }} 2021 
        </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>