<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta" . -}}
    <link rel="stylesheet" href="/css/min/index.min.css">
    <link rel="stylesheet" href="/css/min/extra.min.css">
</head>
<body class="notebook">
    <div id="progressbar"></div>
    <div class="page">
        <div class="header">
            <div class="booktitle"><p>Continuity</p></div>
            <div class="logo"><img src="/refs/logo.svg" alt="continuity"></div>
            <div class="authorname"><p>by Vijay Panchal</p></div>
        </div>
        <!-- <div class="devide"></div> -->
        <div class="links1">
            <label class="hamburger"><input type="checkbox"></label>
            <ul>
                <li><a href="/" class="orange-ink">Home</a></li>
                <li><a href="/about.html" class="orange-ink">About</a></li>
                <li><a href="/resume.html" class="orange-ink">Resume</a></li>
                <!-- <li><a href="https://github.com/vijaypanchalr3/" class="orange-ink">Github</a></li> -->
                <li><a href="/blogs/" class="orange-ink">Blogs</a></li>
                <li><a href="/projects/ " class="orange-ink">Projects</a></li>
            </ul>
        </div>
        <div class="spas">
            <p>Hello,
                I'm physicist and this is my personal website which is continuous in space-time. 😜
            </p>
        </div>
        {{- partial "footer" . -}}
    </div>
    
</body>
</html>
