{{ define "main"}}
<section class="post-list">
    {{ range .Paginator.Pages }}
    <article class="single-post">
        <h2 class="entry-title mt-5 mb-5">
            <a href="{{ .Permalink}}">{{ .Title }}</a>
            
        </h2>
        <div class="post-meta">
                <div class="hello">
                    <span class="time">
                       <time class="post-date">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                    </span>
                    <span class="post-tags">
                        {{ range (.GetTerms "tags" ) }}
                            <a href="{{ .Permalink }}" class="btn btn-primary">{{ .LinkTitle}}</a>
                        {{ end }}
                    </span>
                </div>
        
                <div class="post-author">
                    {{ .Params.Author }}
                </div>
        </div>
        <div class="content">
            {{ .Summary }}<a href="{{ .Permalink }}">Read more</a>
        </div>
        <hr>
    </article>
    {{end}}
    <div class="mt-5 justify-content-center">
        {{ template "_internal/pagination.html" . }}
    </div>
    
</section>
{{ end }}