{{ define "main" }}
<button class="goto-top">
    <a href="#"><span class="material-icons">
        expand_less
        </span></a>
</button>
<div id="progressbar"></div>
{{- partial "single/title.html" . -}}
<div class="content-area">
    <article>
        <div class="page-toc">
            <h2>Table Of contents</h2>
            {{ .Page.TableOfContents }}
        </div>
        <div class="content">
            {{ .Content }}
        </div>
            
    </article>
    <!-- {{- partial "single/single-sidebar.html" . -}} -->
</div>

{{ end }}