{{ define "main" }}
<article class="single-post">
    <h1 class="entry-title">
        {{ .Title }}
    </h1>
    <div class="post-meta">
        <div class="hello">
            <span class="time">
               <time class="post-date">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </span>
            <span class="post-tags">
                {{ range (.GetTerms "tags" ) }}
                    <a href="{{ .Permalink }}" class="btn btn-primary">{{ .LinkTitle}}</a>
                {{ end }}
            </span>
        </div>

        <div class="post-author">
            {{ .Params.Author }}
        </div>
        <hr>

    </div>
    <div class="content">
        {{ .Content }}
    </div>
</article>
{{ end }}