<footer class="social">
      <div>
        <ul class="social">
            <a href="https://orcid.org/0009-0004-5527-3556"><i class="fab fa-brands fa-orcid fa-lg" style="color: #1a5fb4;"></i></a>
            <a href="https://github.com/vijaypanchalr3/"><i class="fab fa-brands fa-github fa-lg" style="color: #1a5fb4;"></i></a>
            <a href="https://www.instagram.com/vijaypanchal_3.141592653589793"><i class="fab fa-brands fa-instagram fa-lg" style="color: #1a5fb4;"></i></a>
            <a href="mailto:vijayrameshpanchal@gmail.com"><i class="fa fa-solid fa-envelope fa-lg" style="color: #1a5fb4;"></i></a>
            <a href="/"><i class="fa fa-solid fa-user fa-lg" style="color: #1a5fb4;"></i></a>
        </ul>
        <span class="copyright"><i class="fa fa-solid fa-copyright"></i><p>continuity by vijay panchal</p></span>
    </div>
</footer>