<footer class="footer">
    <div class="footer-about">
        <img src="/refs/logo-black.svg" alt="continuity" class="footer-logo">
        <p>
            Thank you for reading my blog. I'm eager to discuss any topic. Please, contact me if you want debate on this topics.
        </p>
    </div>
    <div class="footer-links">
        <div class="footer-div">
            <p class="footer-div-title">Contact me</p>
            <div>
                <div class="tool-tip">
                    <p class="link tool-tip-main" onclick="copy(this)">vijayrameshpanchal@gmail.com</p>
                    <span class="tool-tip-text">copy email</span>
                </div>
                <!-- <a href="#">other</a> -->
            </div>
        </div>
        <div class="footer-div">
            <p class="footer-div-title">About</p>
            <div>
                <a href="/resume.html" class="link">Resume</a>
                <a href="/about.html" class="link">About me</a>
            </div>
        </div>
    </div>
</footer>