<div class="sidenav">
    <div class="sidenav-box">
        <p class="section-subtitles">Tags</p>
        <ul class="cloud">
            {{ range $.Site.Taxonomies.tags.ByCount }}
            {{ if gt .Count 1 }}
              <li>
                <a href="/tags/{{ .Name }}" data-weight="{{ .Count }}"> {{ .Name }} <small id="tags_size">({{ .Count }})</small></a>
              </li>
            {{ end }}
            {{end}}
        </ul>
    </div>
    <div class="sidenav-box">
        <p class="section-subtitles">categories</p>
        <ul class="cloud">
            {{ range $.Site.Taxonomies.categories.ByCount }}
            {{ if gt .Count 1 }}
              <li class="tags_count">
                <a href="/categories/{{ .Name }}" data-weight="{{ .Count }}"> {{ .Name }} <small id="tags_size">({{ .Count }})</small></a>
              </li>
            {{ end }}
            {{end}}
        </ul>
    </div>
    
</div>