<div id="recent" class="page-width auto-mar">
    <h1 class="title b-b-mar">Recents,</h1>
    <div class="auto-grid">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
            <a href="{{ .Permalink }}" class="mycard round v-b-mar material-shadow-with-hover">
                <!-- <div class="mycard-head">
                    <img src="{{ .Params.thumbnail }}" alt="thumbnail" style="border-radius: 5px 5px 0 0 ;">
                </div> -->
                <div class="mycard-body">
                    <p class="title">{{ .Title }}</p>
                    <p class="description">
                        {{ .Params.description }}
                    </p>
                </div>
                <div class="mycard-footer">
                    <p>{{ .Params.author }}</p>
                    <time class="">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                </div>
            </a>
        {{end}}
    </div>
  </div>
</div> 