<div class="recents-box">
    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
        <a href="{{ .Permalink }}" class="mycard material-shadow-with-hover round recents-box">
                    <div mycard-head>
                        <p>{{ .Params.image }}</p>
                        <img src="/image" alt="{{ .Params.image }}" style="border-radius: 5px 5px 0 0 ;">
                    </div>
                    <div class="mycard-body">
                        <p class="title">{{ .Title }}</p>
                        <p class="description">
                            {{ .Params.description }}
                        </p>
                        <div class="mycard-footer">
                            <p>{{ .Params.author }}</p>
                            <time class="">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                        </div>
                    </div>
            </article>
        </a>
    {{end}}
</div>