<div class="auto-grid">
    {{ $related := .Site.RegularPages.Related . | first 2 }}
    {{ with $related }}

    {{ range . }}
        <a href="{{ .Permalink }}" class="mycard round gap material-shadow-with-hover">
            <div class="mycard-body">
                <p class="title">{{ .Title }}</p>
                <p class="description">
                    {{ .Params.description }}
                </p>
            </div>
            <div class="mycard-footer">
                <p>{{ .Params.author }}</p>
                <time class="">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </div>
        </a>
    {{ end }}
    {{ end }}
</div>
</div>