<div class="container">
    <!-- <div class="recent_font"><span class="material-icons md-48">update</span><span>Recents</span></div> -->
    <div class="home">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
            <div class="home-box">
                <article>
                    <a href="{{ .Permalink }}" class="home-post">
                        <div class="thumb">
                            <picture>
                                <img src="{{ .Params.image }}" alt="">
                            </picture>
                        </div>
                        <div class="inner">
                            <p class="list-title">{{ .Title }}</p>
                            <p class="list-description">
                                {{ .Params.description }}
                            </p>
                            <p class="time">by {{ .Params.Author }} on <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time></p>
                            <!-- {{- partial "list-tags.html" . -}} -->
                        </div>
                    </a>
                </article>
            </div>
        {{end}}
    </div>
  </div>