<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light sili-header">
    <div class="container-fluid">
      <div class="site-title"><div class="site-title-image normal"></div><a href="/" class="site-title-name normal">Continuity...</a></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="nav flex-column">
          <li class="sitedesc"id="button-dark-mode">
           <button class="theme-toggle"></button>
            <!-- <div class="theme-toggle" type="button" ><i class="fas fa-fw fa-search"></i></div> -->
          </li>
          <li class="navlist">
            <div class="navbar-nav navlist">
              <a class="normal" href="/">Home</a>
              <a class="normal" href="/posts/">Content</a>
              <a class="normal" href="/#recent">Recents</a>
              <a class="normal" href="/about.html">About</a>
              <a class="normal" href="https://github.com/vijaypanchalr3">Github</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>