<header class="list-header prevent-select">
    <div class="list-title"><img src="/refs/logo.svg" alt="continuity"><p>Continuity</p><div class="icon"><a href="javascript:void(0);"onclick="myFunction()">
        <img src="/refs/nav.svg" alt="">
    </a></div></div>
    <div class="nav">
        <nav class="link4" id="link4">
            <ul style="width: 100%;text-align: center;margin: auto;">
                <li><a href="/" class="orange-ink">Home</a></li>
                <li><a href="/about.html" class="orange-ink">About</a></li>
                <li><a href="/resume.html" class="orange-ink">Resume</a></li>
                <li><a href="https://github.com/vijaypanchalr3/" class="orange-ink">Github</a></li>
                
            </ul>
        </nav>
    </div>
</header>


