<ul class="nav flex-column">
  <li class="sitedesc">
    <a href="/" class="sitedescription navbar-brand">Personal Blogs</a>
  </li>
  <li class="navlist">
    <div class="navbar-nav navlist" >
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/posts/">Content</a>
      <a class="nav-link" href="/#recent">Recents</a>
      <a class="nav-link" href="/about.html">About</a>
      <a class="nav-link" href="https://github.com/vijaypanchalr3">Github</a>
    </div>
  </li>
</ul>