<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <ul class="nav flex-column">
      <li class="sitedesc">
        <a href="/" class="sitedescription navbar-brand">Simplifing Physics for layperson</a>
      </li>
      <li>
        <hr size="3" class="navline">
      </li>
      <li class="navlist">
        <div class="navbar-nav navlist" >
          <a class="nav-link" href="/posts/">Home</a>
          <a class="nav-link" href="/posts/">Content</a>
          <a class="nav-link" href="/">About</a>
          <a class="nav-link" href="https://github.com/vijaypanchalr3">Github</a>
        </div>
      </li>
    </ul>
</div>